mat-form-field{
    width: 100%;   
}

.out{
    margin-top: 20px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: flex-start;

    
  }
  
  
